# Merge Playoff Data with MoneyPuck Data

The MoneyPuck dataset contains a lot of information for each team and we would like to add our playoff data set to the table. First, we will need to remove the many unnecessary columns in the MoneyPuck dataset to make it easier to interpret. Then, we will merge the team names from the team_info.csv file to the MoneyPuck data since the playoff data refers to team name instead of team code. Finally, we will merge the MoneyPuck data with the Playoff Data based on season and team name.

### Clean MoneyPuck Data

In [1]:
# Import statements
import pandas as pd

In [2]:
# Loan MoneyPuck data
moneypuck = pd.read_excel('cleaned_moneypuck.xlsx')
moneypuck.head()

,team,season,position,situation,games_played,xGoalsPercentage,corsiPercentage,fenwickPercentage,iceTime,xOnGoalFor,...,scoreAdjustedShotsAttemptsAgainst,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst
0,MIN,2008,Team Level,other,82,0.48,0.49,0.49,11901,143.97,...,285.00,218,218.00,7,3.09,2.24,2.22,21.35,21.35,20.46
1,MIN,2008,Team Level,all,82,0.48,0.48,0.48,299195,2210.01,...,4490.31,3467,3459.72,257,36.30,27.99,29.58,204.64,204.38,200.25
2,MIN,2008,Team Level,5on5,82,0.46,0.47,0.47,230258,1602.93,...,3367.31,2575,2567.72,221,23.18,17.52,18.56,134.99,134.73,133.06
3,MIN,2008,Team Level,4on5,82,0.13,0.12,0.14,28293,65.18,...,735.00,579,579.00,1,9.34,7.21,7.36,43.14,43.14,41.59
4,MIN,2008,Team Level,5on4,82,0.88,0.88,0.86,28743,397.93,...,103.00,95,95.00,28,0.69,1.02,1.43,5.15,5.15,5.14

In [3]:
# Check shape of MoneyPuck data
moneypuck.shape

(1970, 105)

In [4]:
# Create list for moneypuck columns
full_columns = moneypuck.columns
full_columns

Index(['team', 'season', 'position', 'situation', 'games_played',
       'xGoalsPercentage', 'corsiPercentage', 'fenwickPercentage', 'iceTime',
       'xOnGoalFor',
       ...
       'scoreAdjustedShotsAttemptsAgainst', 'unblockedShotAttemptsAgainst',
       'scoreAdjustedUnblockedShotAttemptsAgainst', 'dZoneGiveawaysAgainst',
       'xGoalsFromxReboundsOfShotsAgainst',
       'xGoalsFromActualReboundsOfShotsAgainst', 'reboundxGoalsAgainst',
       'totalShotCreditAgainst', 'scoreAdjustedTotalShotCreditAgainst',
       'scoreFlurryAdjustedTotalShotCreditAgainst'],
      dtype='object', length=105)

In [5]:
# Create list of columns to keep
keep_columns = ['team', 'season', 'situation', 'games_played', 'iceTime', 'xGoalsFor', 'xGoalsPercentage' 
                'shotsOnGoalFor', 'goalsFor', 'penaltiesFor', 'penaltyMinutesFor', 'hitsFor', 
               'takeawaysFor', 'xGoalsAgainst', 'shotsOnGoalAgainst', 'goalsAgainst', 
                'penaltiesAgainst','penaltyMinutesAgainst', 'hitsAgainst', 'takeawaysAgainst',
                'flurryAdjustedxGoalsFor', 'scoreVenueAdjustedxGoalsFor', 'flurryScoreVenueAdjustedxGoalsFor'
               ]

In [6]:
# Create a list of columns to drop
drop_columns = list(set(full_columns) - set(keep_columns))

In [7]:
# Remove unnecessary columns
moneypuck.drop(columns = drop_columns, inplace = True)
moneypuck.head()

,team,season,situation,games_played,iceTime,xGoalsFor,flurryAdjustedxGoalsFor,scoreVenueAdjustedxGoalsFor,flurryScoreVenueAdjustedxGoalsFor,goalsFor,...,penaltyMinutesFor,hitsFor,takeawaysFor,xGoalsAgainst,shotsOnGoalAgainst,goalsAgainst,penaltiesAgainst,penaltyMinutesAgainst,hitsAgainst,takeawaysAgainst
0,MIN,2008,other,82,11901,20.06,18.49,20.06,18.49,26,...,16,43,19,21.66,158,28,15,34,39,17
1,MIN,2008,all,82,299195,188.02,182.46,188.50,182.94,214,...,847,1468,440,202.35,2518,197,394,919,1443,443
2,MIN,2008,5on5,82,230258,115.06,112.73,115.53,113.21,122,...,736,1319,351,132.79,1867,136,326,776,1301,345
3,MIN,2008,4on5,82,28293,6.20,6.03,6.20,6.03,8,...,53,64,56,41.63,417,27,28,59,34,12
4,MIN,2008,5on4,82,28743,46.71,45.21,46.71,45.21,58,...,42,42,14,6.28,76,6,25,50,69,69

### Clean Team Codes Data

In [8]:
codes = pd.read_csv('team_info.csv', index_col = 0)
codes.head()

         franchiseId     shortName   teamName abbreviation              link
team_id
1                 23    New Jersey     Devils          NJD   /api/v1/teams/1
4                 16  Philadelphia     Flyers          PHI   /api/v1/teams/4
26                14   Los Angeles      Kings          LAK  /api/v1/teams/26
14                31     Tampa Bay  Lightning          TBL  /api/v1/teams/14
6                  6        Boston     Bruins          BOS   /api/v1/teams/6

In [9]:
# Create full name column 

codes['FullName'] = codes['shortName'] + ' ' + codes['teamName']
codes

,franchiseId,shortName,teamName,abbreviation,link,FullName
team_id,,,,,,
1,23,New Jersey,Devils,NJD,/api/v1/teams/1,New Jersey Devils
4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Philadelphia Flyers
26,14,Los Angeles,Kings,LAK,/api/v1/teams/26,Los Angeles Kings
14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14,Tampa Bay Lightning
6,6,Boston,Bruins,BOS,/api/v1/teams/6,Boston Bruins
3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3,NY Rangers Rangers
5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5,Pittsburgh Penguins
17,12,Detroit,Red Wings,DET,/api/v1/teams/17,Detroit Red Wings
28,29,San Jose,Sharks,SJS,/api/v1/teams/28,San Jose Sharks
18,34,Nashville,Predators,NSH,/api/v1/teams/18,Nashville Predators
23,20,Vancouver,Canucks,VAN,/api/v1/teams/23,Vancouver Canucks
16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16,Chicago Blackhawks
9,30,Ottawa,Senators,OTT,/api/v1/teams/9,Ottawa Senators
8,1,Montreal,Canadiens,MTL,/api/v1/teams/8,Montreal Canadiens
30,37,Minnesota,Wild,MIN,/api/v1/teams/30,Minnesota Wild
15,24,Washington,Capitals,WSH,/api/v1/teams/15,Washington Capitals
19,18,St Louis,Blues,STL,/api/v1/teams/19,St Louis Blues
24,32,Anaheim,Ducks,ANA,/api/v1/teams/24,Anaheim Ducks
27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27,Phoenix Coyotes
2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2,NY Islanders Islanders
10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10,Toronto Maple Leafs
13,33,Florida,Panthers,FLA,/api/v1/teams/13,Florida Panthers
7,19,Buffalo,Sabres,BUF,/api/v1/teams/7,Buffalo Sabres
20,21,Calgary,Flames,CGY,/api/v1/teams/20,Calgary Flames
21,27,Colorado,Avalanche,COL,/api/v1/teams/21,Colorado Avalanche
25,15,Dallas,Stars,DAL,/api/v1/teams/25,Dallas Stars
29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29,Columbus Blue Jackets
52,35,Winnipeg,Jets,WPG,/api/v1/teams/52,Winnipeg Jets
22,25,Edmonton,Oilers,EDM,/api/v1/teams/22,Edmonton Oilers
54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54,Vegas Golden Knights
12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12,Carolina Hurricanes
53,28,Arizona,Coyotes,ARI,/api/v1/teams/53,Arizona Coyotes
11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11,Atlanta Thrashers

In [10]:
# Manually adjust names where necessary

codes['FullName'][3] = 'New York Rangers'
codes['FullName'][19] = 'St. Louis Blues'
codes['FullName'][2] = 'New York Islanders'
codes

/var/folders/3_/pzdmpf0d09sddhv49_dzlyxm0000gn/T/ipykernel_24174/1799998926.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codes['FullName'][3] = 'New York Rangers'
/var/folders/3_/pzdmpf0d09sddhv49_dzlyxm0000gn/T/ipykernel_24174/1799998926.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codes['FullName'][19] = 'St. Louis Blues'
/var/folders/3_/pzdmpf0d09sddhv49_dzlyxm0000gn/T/ipykernel_24174/1799998926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codes['FullName'][2] = 'New York Islanders'

,franchiseId,shortName,teamName,abbreviation,link,FullName
team_id,,,,,,
1,23,New Jersey,Devils,NJD,/api/v1/teams/1,New Jersey Devils
4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Philadelphia Flyers
26,14,Los Angeles,Kings,LAK,/api/v1/teams/26,Los Angeles Kings
14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14,Tampa Bay Lightning
6,6,Boston,Bruins,BOS,/api/v1/teams/6,Boston Bruins
3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3,New York Rangers
5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5,Pittsburgh Penguins
17,12,Detroit,Red Wings,DET,/api/v1/teams/17,Detroit Red Wings
28,29,San Jose,Sharks,SJS,/api/v1/teams/28,San Jose Sharks
18,34,Nashville,Predators,NSH,/api/v1/teams/18,Nashville Predators
23,20,Vancouver,Canucks,VAN,/api/v1/teams/23,Vancouver Canucks
16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16,Chicago Blackhawks
9,30,Ottawa,Senators,OTT,/api/v1/teams/9,Ottawa Senators
8,1,Montreal,Canadiens,MTL,/api/v1/teams/8,Montreal Canadiens
30,37,Minnesota,Wild,MIN,/api/v1/teams/30,Minnesota Wild
15,24,Washington,Capitals,WSH,/api/v1/teams/15,Washington Capitals
19,18,St Louis,Blues,STL,/api/v1/teams/19,St. Louis Blues
24,32,Anaheim,Ducks,ANA,/api/v1/teams/24,Anaheim Ducks
27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27,Phoenix Coyotes
2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2,New York Islanders
10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10,Toronto Maple Leafs
13,33,Florida,Panthers,FLA,/api/v1/teams/13,Florida Panthers
7,19,Buffalo,Sabres,BUF,/api/v1/teams/7,Buffalo Sabres
20,21,Calgary,Flames,CGY,/api/v1/teams/20,Calgary Flames
21,27,Colorado,Avalanche,COL,/api/v1/teams/21,Colorado Avalanche
25,15,Dallas,Stars,DAL,/api/v1/teams/25,Dallas Stars
29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29,Columbus Blue Jackets
52,35,Winnipeg,Jets,WPG,/api/v1/teams/52,Winnipeg Jets
22,25,Edmonton,Oilers,EDM,/api/v1/teams/22,Edmonton Oilers
54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54,Vegas Golden Knights
12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12,Carolina Hurricanes
53,28,Arizona,Coyotes,ARI,/api/v1/teams/53,Arizona Coyotes
11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11,Atlanta Thrashers

In [11]:
# Remove unnecessary columns
codes.drop(columns = ['franchiseId', 'shortName', 'teamName', 'link'], inplace = True)
codes.head()

        abbreviation             FullName
team_id
1                NJD    New Jersey Devils
4                PHI  Philadelphia Flyers
26               LAK    Los Angeles Kings
14               TBL  Tampa Bay Lightning
6                BOS        Boston Bruins

In [12]:
# Rename team code column
codes = codes.rename(columns = {'abbreviation': 'team'})
codes.head()

        team             FullName
team_id
1        NJD    New Jersey Devils
4        PHI  Philadelphia Flyers
26       LAK    Los Angeles Kings
14       TBL  Tampa Bay Lightning
6        BOS        Boston Bruins

### Merge MoneyPuck Data with Codes Data

In [13]:
moneypuck_merged = moneypuck.merge(codes, on = 'team', how = 'left')
moneypuck_merged

,team,season,situation,games_played,iceTime,xGoalsFor,flurryAdjustedxGoalsFor,scoreVenueAdjustedxGoalsFor,flurryScoreVenueAdjustedxGoalsFor,goalsFor,...,hitsFor,takeawaysFor,xGoalsAgainst,shotsOnGoalAgainst,goalsAgainst,penaltiesAgainst,penaltyMinutesAgainst,hitsAgainst,takeawaysAgainst,FullName
0,MIN,2008,other,82,11901,20.06,18.49,20.06,18.49,26,...,43,19,21.66,158,28,15,34,39,17,Minnesota Wild
1,MIN,2008,all,82,299195,188.02,182.46,188.50,182.94,214,...,1468,440,202.35,2518,197,394,919,1443,443,Minnesota Wild
2,MIN,2008,5on5,82,230258,115.06,112.73,115.53,113.21,122,...,1319,351,132.79,1867,136,326,776,1301,345,Minnesota Wild
3,MIN,2008,4on5,82,28293,6.20,6.03,6.20,6.03,8,...,64,56,41.63,417,27,28,59,34,12,Minnesota Wild
4,MIN,2008,5on4,82,28743,46.71,45.21,46.71,45.21,58,...,42,14,6.28,76,6,25,50,69,69,Minnesota Wild
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,NYI,2020,other,56,6649,14.09,12.82,14.09,12.82,9,...,24,10,17.74,79,16,6,12,22,17,New York Islanders
1966,NYI,2020,all,56,205063,148.64,143.23,149.75,144.33,152,...,1455,269,129.63,1590,125,153,326,1264,321,New York Islanders
1967,NYI,2020,5on5,56,171310,106.18,103.35,107.29,104.46,113,...,1371,231,91.72,1307,90,138,296,1180,268,New York Islanders
1968,NYI,2020,4on5,56,12840,3.76,3.73,3.76,3.73,4,...,38,23,17.38,169,19,9,18,12,7,New York Islanders
1969,NYI,2020,5on4,56,14264,24.62,23.32,24.62,23.32,26,...,22,5,2.78,35,0,0,0,50,29,New York Islanders

In [14]:
# Check if there are any null team names
moneypuck_merged['FullName'].value_counts()

Minnesota Wild           65
Boston Bruins            65
Florida Panthers         65
Montreal Canadiens       65
Calgary Flames           65
New York Rangers         65
Washington Capitals      65
Columbus Blue Jackets    65
Philadelphia Flyers      65
Chicago Blackhawks       65
Pittsburgh Penguins      65
Vancouver Canucks        65
Nashville Predators      65
Detroit Red Wings        65
New York Islanders       65
St. Louis Blues          65
Edmonton Oilers          65
Anaheim Ducks            65
Buffalo Sabres           65
Ottawa Senators          65
Carolina Hurricanes      65
Toronto Maple Leafs      65
Dallas Stars             65
Colorado Avalanche       65
Arizona Coyotes          65
Winnipeg Jets            50
Vegas Golden Knights     20
Atlanta Thrashers        15
Name: FullName, dtype: int64

### Clean Playoffs Data

In [15]:
# Load playoffs dataset
playoffs = pd.read_excel('Playoffs data.xlsx', sheet_name = 'playoffs')
playoffs

,Year,Team,Playoffs,Quarterfinals,Semifinals,Finals,Winner
0,2008-2009,Boston Bruins,1.0,1.0,NaN,NaN,NaN
1,2008-2009,Washington Capitals,1.0,1.0,NaN,NaN,NaN
2,2008-2009,Carolina Hurricanes,1.0,1.0,1.0,NaN,NaN
3,2008-2009,Pittsburgh Penguins,1.0,1.0,1.0,1.0,1.0
4,2008-2009,Anaheim Ducks,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
203,2020-2021,Florida Panthers,1.0,NaN,NaN,NaN,NaN
204,2020-2021,St. Louis Blues,1.0,NaN,NaN,NaN,NaN
205,2020-2021,Minnesota Wild,1.0,NaN,NaN,NaN,NaN
206,2020-2021,Toronto Maple Leafs,1.0,NaN,NaN,NaN,NaN
207,2020-2021,Edmonton Oilers,1.0,NaN,NaN,NaN,NaN

In [16]:
# Replace NaN values with zero
playoffs = playoffs.fillna(0)
playoffs.head()

,Year,Team,Playoffs,Quarterfinals,Semifinals,Finals,Winner
0,2008-2009,Boston Bruins,1.0,1.0,0.0,0.0,0.0
1,2008-2009,Washington Capitals,1.0,1.0,0.0,0.0,0.0
2,2008-2009,Carolina Hurricanes,1.0,1.0,1.0,0.0,0.0
3,2008-2009,Pittsburgh Penguins,1.0,1.0,1.0,1.0,1.0
4,2008-2009,Anaheim Ducks,1.0,1.0,0.0,0.0,0.0

In [17]:
# Check data count is accurate
playoffs.groupby('Year').sum()

           Playoffs  Quarterfinals  Semifinals  Finals  Winner
Year
2008-2009      16.0            8.0         4.0     2.0     1.0
2009-2010      16.0            8.0         4.0     2.0     1.0
2010-2011      16.0            8.0         4.0     2.0     1.0
2011-2012      16.0            8.0         4.0     2.0     1.0
2012-2013      16.0            8.0         4.0     2.0     1.0
2013-2014      16.0            8.0         4.0     2.0     1.0
2014-2015      16.0            8.0         4.0     2.0     1.0
2015-2016      16.0            8.0         4.0     2.0     1.0
2016-2017      16.0            8.0         4.0     2.0     1.0
2017-2018      16.0            8.0         4.0     2.0     1.0
2018-2019      16.0            8.0         4.0     2.0     1.0
2019-2020      16.0            8.0         4.0     2.0     1.0
2020-2021      16.0            8.0         4.0     2.0     1.0

In [18]:
# Create season column based on year
playoffs['season'] = [playoffs['Year'][i][0:4] for i in range(len(playoffs))]
playoffs['season'] = playoffs['season'].astype(int)
playoffs.head()

,Year,Team,Playoffs,Quarterfinals,Semifinals,Finals,Winner,season
0,2008-2009,Boston Bruins,1.0,1.0,0.0,0.0,0.0,2008
1,2008-2009,Washington Capitals,1.0,1.0,0.0,0.0,0.0,2008
2,2008-2009,Carolina Hurricanes,1.0,1.0,1.0,0.0,0.0,2008
3,2008-2009,Pittsburgh Penguins,1.0,1.0,1.0,1.0,1.0,2008
4,2008-2009,Anaheim Ducks,1.0,1.0,0.0,0.0,0.0,2008

In [19]:
# Rename columns
playoffs.rename(columns = {'Team': 'FullName'}, inplace = True)
playoffs.head()

,Year,FullName,Playoffs,Quarterfinals,Semifinals,Finals,Winner,season
0,2008-2009,Boston Bruins,1.0,1.0,0.0,0.0,0.0,2008
1,2008-2009,Washington Capitals,1.0,1.0,0.0,0.0,0.0,2008
2,2008-2009,Carolina Hurricanes,1.0,1.0,1.0,0.0,0.0,2008
3,2008-2009,Pittsburgh Penguins,1.0,1.0,1.0,1.0,1.0,2008
4,2008-2009,Anaheim Ducks,1.0,1.0,0.0,0.0,0.0,2008

### Merge Moneypuck Data with Playoffs Data

In [20]:
data = moneypuck_merged.merge(playoffs, on = ['FullName', 'season'], how = 'left')
data

,team,season,situation,games_played,iceTime,xGoalsFor,flurryAdjustedxGoalsFor,scoreVenueAdjustedxGoalsFor,flurryScoreVenueAdjustedxGoalsFor,goalsFor,...,penaltyMinutesAgainst,hitsAgainst,takeawaysAgainst,FullName,Year,Playoffs,Quarterfinals,Semifinals,Finals,Winner
0,MIN,2008,other,82,11901,20.06,18.49,20.06,18.49,26,...,34,39,17,Minnesota Wild,NaN,NaN,NaN,NaN,NaN,NaN
1,MIN,2008,all,82,299195,188.02,182.46,188.50,182.94,214,...,919,1443,443,Minnesota Wild,NaN,NaN,NaN,NaN,NaN,NaN
2,MIN,2008,5on5,82,230258,115.06,112.73,115.53,113.21,122,...,776,1301,345,Minnesota Wild,NaN,NaN,NaN,NaN,NaN,NaN
3,MIN,2008,4on5,82,28293,6.20,6.03,6.20,6.03,8,...,59,34,12,Minnesota Wild,NaN,NaN,NaN,NaN,NaN,NaN
4,MIN,2008,5on4,82,28743,46.71,45.21,46.71,45.21,58,...,50,69,69,Minnesota Wild,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,NYI,2020,other,56,6649,14.09,12.82,14.09,12.82,9,...,12,22,17,New York Islanders,2020-2021,1.0,1.0,1.0,0.0,0.0
1966,NYI,2020,all,56,205063,148.64,143.23,149.75,144.33,152,...,326,1264,321,New York Islanders,2020-2021,1.0,1.0,1.0,0.0,0.0
1967,NYI,2020,5on5,56,171310,106.18,103.35,107.29,104.46,113,...,296,1180,268,New York Islanders,2020-2021,1.0,1.0,1.0,0.0,0.0
1968,NYI,2020,4on5,56,12840,3.76,3.73,3.76,3.73,4,...,18,12,7,New York Islanders,2020-2021,1.0,1.0,1.0,0.0,0.0
1969,NYI,2020,5on4,56,14264,24.62,23.32,24.62,23.32,26,...,0,50,29,New York Islanders,2020-2021,1.0,1.0,1.0,0.0,0.0

In [21]:
# Replace NaN values with zero for merged playoff columns
data = data.fillna(0)
data.head()

,team,season,situation,games_played,iceTime,xGoalsFor,flurryAdjustedxGoalsFor,scoreVenueAdjustedxGoalsFor,flurryScoreVenueAdjustedxGoalsFor,goalsFor,...,penaltyMinutesAgainst,hitsAgainst,takeawaysAgainst,FullName,Year,Playoffs,Quarterfinals,Semifinals,Finals,Winner
0,MIN,2008,other,82,11901,20.06,18.49,20.06,18.49,26,...,34,39,17,Minnesota Wild,0,0.0,0.0,0.0,0.0,0.0
1,MIN,2008,all,82,299195,188.02,182.46,188.50,182.94,214,...,919,1443,443,Minnesota Wild,0,0.0,0.0,0.0,0.0,0.0
2,MIN,2008,5on5,82,230258,115.06,112.73,115.53,113.21,122,...,776,1301,345,Minnesota Wild,0,0.0,0.0,0.0,0.0,0.0
3,MIN,2008,4on5,82,28293,6.20,6.03,6.20,6.03,8,...,59,34,12,Minnesota Wild,0,0.0,0.0,0.0,0.0,0.0
4,MIN,2008,5on4,82,28743,46.71,45.21,46.71,45.21,58,...,50,69,69,Minnesota Wild,0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Write merged data to a new .csv file
data.to_csv('merged_moneypuck_data.csv')